theme = RetroLegends
#theme = adventure

font-family = "Glass TTY VT220"
font-size = 16
font-thicken = true
font-thicken-strength = 125
#font-family = "JetBrainsMono Nerd Font Mono"
#font-family = "VT323"

keybind = global:cmd+`=toggle_quick_terminal
background-opacity = 0.65
background-blur-radius = 50

macos-non-native-fullscreen = true
macos-titlebar-style = transparent

# Fallout-Inspired Terminal Theme with Amber (#FFB000)
palette = 0=#101010
# exec, red
palette = 1=#FF6666
palette = 2=#7FD5A6
palette = 3=#FFD580
# dir, blue
palette = 4=#5DA8D9
palette = 5=#FFB070
palette = 6=#C0E2C8
palette = 7=#FFDEA3
# completion, gray
palette = 8=#4A4A3A
palette = 9=#FF8366
palette = 10=#98EBC0
palette = 11=#FFE199
palette = 12=#FFB000
palette = 13=#FFC68E
palette = 14=#D1F5E2
palette = 15=#FFF3D6

#background = #101010
foreground = #FFB000
cursor-color = #FFB000
cursor-text = #101010
selection-background = #3a3a2a
selection-foreground = #FFB000
